version: "3"

services:
  transmission:
    build: .
    container_name: transmission
    restart: always
    dns:
      - 1.1.1.1
      - 8.8.8.8
    environment:
      - TRANSMISSION_UID=1000
      - TRANSMISSION_GID=1000
    volumes:
      - /home/greg/downloads/doing:/downloads/doing
      - /home/greg/downloads/done:/downloads/done
    ports:
      - 127.0.0.1:9091:9091
      - 51413:51413
