{
    "download-dir": "/downloads/done",
    "incomplete-dir": "/downloads/doing",
    "incomplete-dir-enabled": 0,
    "download-limit": 100,
    "download-limit-enabled": 0,
    "peer-limit-per-torrent": 100,
    "peer-limit-global": 300,
    "encryption": 1,
    "max-peers-global": 200,
    "peer-port": 51413,
    "pex-enabled": 1,
    "port-forwarding-enabled": 0,
    "rpc-authentication-required": true,
    "rpc-password": "transmission",
    "rpc-port": 9091,
    "rpc-username": "transmission",
    "rpc-whitelist": "0.0.0.0",
    "rpc-whitelist-enabled": false,
    "upload-limit": 100,
    "upload-limit-enabled": 0
}
